//- Bootstrap Modal Mixins

//- Simple confirmation modals
mixin confirm_modal(id, title, text, status, no, yes)
  - status = status || 'danger'
  - no = no || 'No'
  - yes = yes || 'Yes'
  div.modal.fade(id=id)
    div.modal-dialog
      div.modal-content
        div.modal-header
          h3= title
        div.modal-body= text
        div.modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal', aria-hidden='true')= no
          button(type='button', class="btn btn-default btn-#{status}", id="#{id}_confirm")= yes

//- Parse deck modal
mixin parse_deck_modal()
  div#parse_deck_modal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          h3 Paste your deck into the area below
        div.modal-body
          select#parse_format.form-control
            option(value='mtgo') MTG Online
            option(value='mws') Magic Workstation
            option(value='mtgs') MTG Salvation
          textarea#deck_to_parse.form-control
        div.modal-footer
          button.btn.btn-default(type='button',data-dismiss='modal') Close
          button#parse_confirm(type='button', class="btn btn-default btn-primary") Parse

//- Deck choice modal
mixin deck_choice_modal(decks)
  div#deck_choice_modal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          h3 Choose your deck
        div.modal-body
          select#deck_select.form-control
            for deck in decks
              option(value=deck.id, data=JSON.stringify(deck.cards))= deck.name
        div.modal-footer
          button#deck_validate.btn.btn-default Select this deck

//- Card choice modal
mixin card_choice_modal()
  div#card_choice_modal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          h3 Pick Cards
        div.modal-body.modal-body-search
        div.modal-footer
          button.btn.btn-default(type='button',data-dismiss='modal') Close
          button#card_choice_validate.btn.btn-default Select those cards

//- Card context modal for mobile
mixin card_context_modal()
  div#card_context_modal.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-body
          button#tap.btn.btn-default.btn-block(type='button',data-dismiss='modal')
            img.tap(src='http://mtgimage.com/symbol/other/t.svg')
            span.tap &nbsp;Tap card
            img.untap(src='http://mtgimage.com/symbol/other/q.svg')
            span.untap &nbsp;Untap card
          button.btn.btn-default.btn-block(type='button',data-dismiss='modal',data-toggle='modal',data-target="#top_helper_block")
            span.glyphicon.glyphicon-search(aria-hidden='true')
            span &nbsp;Show Card

        div.modal-footer
          button.btn.btn-default(type='button',data-dismiss='modal') Close